<div id="one_article">

    <a title="关闭"><img class="close" src="/images/close.png" alt="关闭"></a>

    <div id="one_article_detail">
        <p class="one_article_title">Aenean velit risus, venenatis sed pellentesque ege</p>

        <p class="one_post_info">Posted on June 9 - 2012 by axis | <span class="ds-thread-count"
                                                                         data-thread-key=""></span> Comment</p>

        <p class="one_article_content">
            “满眼的%，根本无法维护了”，你让写jsp，php的人情何以堪啊！！！难道现在的jsp，php都是无法维护了？
            就我个人而言，根本不喜欢jade，更喜欢ejs，因为ejs有更广泛的支持度。任何写jsp，php的人几乎是0成本就能上手ejs。反观jade，就算是资深的web前端开发，有几个人会去学？？看看nodejs为什么会那么火，如果nodejs不是用V8引擎，不是用javascript语法，用一个作者自己造的语法，会这么火吗？
            在团队里，我只要拿出ejs文件，给一个应届毕业生，人家立马就可以上手干活了。 如果是一个jade文件呢，你觉得有多少人可以上手？
        </p>

    </div>
    <div id="comment">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="" data-title="请的标题" data-url="请替的网址"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name: "onlyou"};
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>

</div>